html, body {
/* Overriding default browser settings */
  margin : 0px;
  padding : 0px;
  height: 100%;
}

body {
  display:flex;
  flex-direction:column;
}


a {
/* Overriding default <a> tag's properties */
  color: inherit;
  text-decoration: inherit;
}

.nav-bar-margin {
  /* The long index bar at the top, excluding margin */
  padding-left: 10%;
  padding-right: 10%;
  background-color: rgb(68,68,68);
  display: flex;
  /* border: 1px solid white; */
}

.nav-bar {
/* The long index bar at the top, excluding margin */

  color: white;
  height: 65px;
  font-size: 20px;
  display: flex;
  padding-right: 20rem;
  font-family: 'Questrial', sans-serif;
  /* border: 1px solid red; */
}

.nav-bar-inner {
/* Inside the navigation bar */
  display: flex;
  margin-left: 30px;
  /* border: 1px solid orange; */
  align-items: center;
}

.nav-bar-inner span {
/* Each elements inside the nav-bar */
  padding: 22.5px 25px 22.5px 25px;
  display: inline-block;
  transition: 0.2s;
  /* border: 1px solid yellow; */
}

.nav-bar-inner span:hover {
  background-color: rgb(98, 98, 98);
}

.nav-bar-logo {
  margin-top: 5px;
  margin-bottom: 5px;
  /* border: 1px solid lightgreen; */
}

#logo {
  width: auto;
  height: 60px;
  /* border: 1px solid skyblue; */
}

.nav-bar-language {
  /* border: 1px solid skyblue; */
  display: flex;
}

.nav-bar-language img {
  margin: auto 15px auto 15px;
  display: flex;
  transition: 0.3s
}

.nav-bar-language img:hover {
  transform: scale(0.8);
}

.title-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('/img/title-image.jpg');
  width: 1fr;
  height: 30rem;
  background-position: center;
  background-size: cover;
  display: flex;
  overflow: hidden;
  background-size: 100%;
}

.title-image-overlay {
  width: 100vw;
  height: 1fr;
  display: inline-block;
  color: white;
  font-size: 5rem;
  font-family: 'Raleway', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;

  /* border: 1px solid skyblue; */
}

.title-image-overlay span {
  border: 0.2rem solid white;
  padding: 1rem 1rem 1rem 1rem;
  background-color: rgba(0, 0, 0, 0.5);
  transition: 0.4s;
}

.title-image-overlay span:hover {
  transform: scale(1.03);
}

.content {
  background-color: #eeeeee;
  color: black;
  font-family: 'Roboto', sans-serif;
  font-size: 2rem;
  flex: 1;
  display:flex;
  padding-left: 10%;
  padding-top: 3rem;
}

.content-row-one {
  border-left: 4px solid black;
  padding-left: 2rem;
  overflow: hidden;
}

.content-row-one p {
  transform: translateX(-130%);
  animation: slideFromLeft 3s forwards ease-out;
}

@keyframes slideFromLeft {
  to {
  transform: translateX(0);
  }
}

.footer {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  font-size: 1rem;
  font-family: 'Raleway', sans-serif;
  color: darkgray;
}

@media screen and (max-width: 1330px) {
  .footer {
    display: none;
  }
  .nav-bar-language {
    display: none;
  }
  .nav-bar {
    padding-right: 0rem;
  }
}
